alembic
argon2-cffi
bcrypt==3.2.2
chromadb
email-validator
fastapi
geopy
google-auth
google-genai
google-generativeai
gunicorn
httpx
langchain
langchain-community
langchain-huggingface
openai
pandas
passlib[bcrypt]
pydantic[email]
pydantic-settings
pypdf
pyswisseph
python-dotenv
python-jose[cryptography]
python-multipart
pytz
requests
sqlalchemy
timezonefinder
uvicorn
vedastro
yfinance==0.2.50
